package templates

import "fmt"

templ Files(files []string) {
  <ul>
    for _, file := range files {
      <li>
        <a href={ templ.URL(fmt.Sprintf("/api/files/%s", file)) }>{ file }</a>
      </li>
    }
  </ul>
}
